*{
    padding: 0px;
    margin: 0px;
}
#c-main{
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   
}

.block{
    height: 90px; 
    width: 90px;
     cursor: pointer;
     user-select: none;
     box-shadow: 2px 2px 2px gray inset;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 50px;
     transition: all ease .5s;
}

.block:hover{
    scale: 1.1;
}

.b-div{
    display: flex;
    height: 90px;
    border: 2px solid gray;
}